/* Main body and text styles */

body {
	margin: 0;
	padding: 0;
	min-width: 100%;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-size: 3em;
	margin: 0;
	font-weight: 700;
}

h2 {
	font-size: 2em;
	font-weight: 700;
	margin: 0;
}

h3 {
	font-size: 1.5em;
	font-weight: 400;
	margin: 0;
}
p {
	font-weight: 400;
	margin: 0;
}

button {
	background: #000;
	color: #fff;
	border: 1px solid #fff;
	font-weight: 300;
	font-size: 18px;
	height: 40px;
	margin: 0;
}

button:hover {
	color: #000;
	mix-blend-mode: screen;
	background: #fff;
}

/* Header */

header {
	width: 100%;
	z-index: 100;
	position: fixed;
	top: 0;
	overflow: hidden;
	filter: drop-shadow(0px 2px 2px #333);
	background-color: rgb(255,255,255);
	@supports (backdrop-filter: blur(20px)) or (-webkit-backdrop-filter: blur(20px)) {
							    -webkit-backdrop-filter: blur(20px);
							    backdrop-filter: blur(20px);
							    background-color: rgba(100,100,100,.3); }
}

.nav {
	padding: 5px 40px 5px 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav_title {
	display: flex;
	align-items: center;
	order:1;
}

#logo {
	height: 40px;
	margin-right: 10px;
}

#header_cta {
	order: 2;
}

/* Main - Page Starter */

.titleBlock {
	top: 40px;
	height: 98vh;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas: "a b"
						 "c d"
						 "e f";
	grid-column-gap: 10px;
	grid-row-gap: 10px;

}

.titleBlock > * {
	background-size: cover;
	background-position: center;
}

#img_a {
	background: url('assets/HMP_Image_2000_03.jpg');
	grid-area: a;
	background-size: cover;
	background-position: center;
}
#img_b {
	background: url('assets/RooseveltReno_Image_2000_03.jpg');
	grid-area: b;
	background-size: cover;
	background-position: center;
}
#img_c {
	background: url('assets/Marsh_Image_2000_06.jpg');
	grid-area: c;
	background-size: cover;
	background-position: center;
}
#img_d {
	background: url('assets/Marsh_Image_2000_08.jpg');
	grid-area: d;
	background-size: cover;
	background-position: center;
}
#img_e {
	background: url('assets/WhidbeyRetreat_Image_2000_02.jpg');
	grid-area: e;
	background-size: cover;
	background-position: center;
}
#img_f {
	background: url('assets/BarCharlie_Image_2000_02.jpg');
	grid-area: f;
	background-size: cover;
	background-position: center;
}



/* Main - Bricks */

.brickWrapper {
	width: 100%;
	display: grid;
	grid-template-rows: 400px 300px 300px 300px 400px 400px 400px 400px;
	grid-template-columns: 1fr;
	grid-template-areas: "intro"
						 "newHome"
						 "remodel"
						 "commercial"
						 "workImg"
						 "about"
						 "testimonials"
						 "outreach";
}

.brickWrapper > div {
	padding: 5%;
	display: grid;
	align-items: center;
	justify-content: center;
	text-align: center;

}

.brickWrapper > .intro {
	grid-area: intro;
	background-color: #fff;
	color: #333;
}

/* sets background images for bricks */
.brickWrapper > .newHome {
	grid-area: newHome;
}

.brickWrapper > .remodel {
	grid-area: remodel;
}

.brickWrapper > .commercial {
	grid-area: commercial;
}

.brickWrapper > .workImg {
	background: url('assets/Working_Stock.jpg');
	grid-area: workImg;
	background-size: cover;
	background-position: center;
}

.brickWrapper > .about {
	grid-area: about;
	background-color: #333;
	color: white;
}

.brickWrapper > .testimonials {
	grid-area: testimonials;
	background-color: #777;
	color: white;
}

.brickWrapper > .outreach {
	grid-area: outreach;
}

.outreach button {
	background: transparent;
	color: #333;
	border: 1px solid #333;
}

.service {
	background: #eee;
	color: #333;
}

/* Footer */

footer {
	height: 100px;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: #333;
}

footer > * {
	color: white;
	font-size: 12px;
}

/* Larger Screens */

@media only screen and (min-width: 1100px) {
	.titleBlock {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: "a b c"
						 "d e f";

	}
	.brickWrapper {
	width: 100%;
	display: grid;
	grid-template-rows: 480px 480px 100vh 400px 480px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-areas: "intro  intro  intro"
						 "newHome remodel commercial"
						 "workImg workImg workImg"
						 "about about about"
						 "testimonials testimonials outreach";
	}

	h1 {
		font-size: 4em;
	}

	h2 {
		font-size: 2.5em;
	}