.jumbotron-fluid {
	height: 95vh;
	background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),
				url('assets/Marsh_Image_2000_06.jpg');
	background-position: center;
	background-size: cover;
}

h1 {
	color: #fff;
	font-weight: 700;
	font-size: 5em;
}

.carousel-inner {
	max-height: 100vh !important;
	object-fit: cover;
}

.navbar-collapse .nav-link {
  padding: .25rem 0;
  color: rgba(0, 0, 0, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.navbar-collapse .nav-link:hover,
.navbar-collapse .nav-link:focus {
  border-bottom-color: rgba(0, 0, 0, .25);
}

.navbar-collapse .nav-link + .nav-link {
  margin-left: 1rem;
}

.navbar-collapse .active {
  color: #000;
  border-bottom-color: #000;
}