/* Main body and text styles */

body {
	margin: 0;
	min-width: 100%;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-size: 4em;
	margin: 0;
	font-weight: 700;
}

h2 {
	font-size: 2.5em;
	font-weight: 700;
	margin: 0;
}

p {
	font-weight: 400;
}

button {
	background: transparent;
	color: #fff;
	border: 1px solid #fff;
	font-weight: 300;
	font-size: 18px;
	height: 40px;
	margin: 0;
}

button:hover {
	color: #000;
	mix-blend-mode: screen;
	background: #fff;
}

/* Header */

header {
	width: 100%;
	z-index: 100;
	position: fixed;
	top: 0;
	overflow: hidden;
/*  acrylic test
	background-color: rgba(100,100,100,.9);
	@supports (backdrop-filter: blur(20px)) or (-webkit-backdrop-filter: blur(20px)) {
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    background-color: rgba(100,100,100,.3);*/
}

.nav {
	padding: 10px 40px 0px 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav_title {
	display: flex;
	align-items: center;
	order:1;
}

#logo {
	height: 80px;
	margin-left: 20px;
}

#header_cta {
	order: 2;
}

/* Main - Page Starter */

.titleBlock {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	color: white;
}

.titleBlock > * {
}

#home {
	background: 
	linear-gradient(
	    rgba(100, 100, 100, 0.5),
	    rgba(100, 100, 100, 0.5)),
		url('assets/Marsh_Image_2000_08.jpg');
	background-size: cover;
	background-position: center;
}


/* Main - Bricks */

.brickWrapper {
	width: 100%;
	display: grid;
	grid-template-rows: 480px calc(0.33*100vw) 480px 480px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-areas: "intro intro intro"
						"newHome  remodel  smallBiz"
						"about  about  about"
						"testimonials  testimonials  outreach";
}

.brickWrapper > div {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.brickWrapper > .intro {
	grid-area: intro;
	background-color: #333;
	color: white;
}


.brickWrapper > .newHome {
	grid-area: newHome;
	background: 
		linear-gradient(
	    rgba(100, 100, 100, 0.5),
	    rgba(100, 100, 100, 0.5)),
		url('assets/Marsh_Image_2000_08.jpg');
	background-size: cover;
	background-position: center;
}

.brickWrapper > .remodel {
	grid-area: remodel;
	background: 
		linear-gradient(
	    rgba(0, 0, 0, 0.6),
	    rgba(0, 0, 0, 0.6)),
		url('assets/RooseveltReno_Image_2000_03.jpg');
	background-size: cover;
	background-position: center;
}

.brickWrapper > .smallBiz {
	grid-area: smallBiz;
	background: 
		linear-gradient(
	    rgba(100, 100, 100, 0.5),
	    rgba(100, 100, 100, 0.5)),
		url('assets/BarCharlie_Image_2000_02.jpg');
	background-size: cover;
	background-position: center;
}

.brickWrapper > .about {
	grid-area: about;
	background-color: #333;
	color: white;
}

.brickWrapper > .testimonials {
	grid-area: testimonials;
	background-color: #777;
	color: white;
}

.brickWrapper > .outreach {
	grid-area: outreach;
}

.service {
	color: white;
}

/* Footer */

footer {
	height: 100px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #333;
}

footer > * {
	color: white;
	font-size: 12px;
}

