/* Main body and text styles */

body {
	margin: 0;
	min-width: 100%;
	font-size: 14px;
	font-family: sans-serif;
}

h1 {
	font-size: 3em;
	font-weight: 700;
}

h2 {
	font-size: 2em;
	font-weight: 400;
}

p {
	font-weight: 300;
}

button {
	background: transparent;
	border: 1px solid #000;
	font-weight: 300;
	font-size: 18px;
	height: 40px;
	margin: 10px 0;
}

button:hover {
	color: #fff;
	background: rgba(0, 0, 0, .8);
}

/* Header */

header {
	width: 100%;
	height: 60px;
	background-color: rgba(255, 255, 255, .8);
	z-index: 100;
	padding: 0 40px;
	box-shadow: 0px 0px 10px 0px;
	position: fixed;
	top: 0;
	overflow: hidden;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 60px;
	grid-tempalte-areas: "header_left  header_right";
}

header:first-child {
	align-items: center;
	grid-area: header_left;
}

header:last-child {
	align-items: center;
	grid-area: header_right;
}

header:last-child button {
	right: 0px;
}

#logo {
	width: 100px;
	margin-left: 20px;
}

/* Display Cards */

.page {
	height: 100vh;
	width: 100%;
	background: url('assets/welcome_placeholder.jpg');
	background-size: cover;
	background-position: center;
}

.hero_block {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 2rem;
	transform: translate(-50%, -50%);

}
