.jumbotron-fluid {
	height: 90vh;
	background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),
				url('assets/Marsh_Image_2000_06.jpg');
	background-position: center;
	background-size: cover;
}

h1 {
	color: #fff;
	font-weight: 700;
	font-size: 5em;
}